<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="cancelacion_binding">
                    <security mode="Transport" />
                </binding>
                <binding name="cancelacion_binding1" />
                <binding name="retencion_binding">
                    <security mode="Transport" />
                </binding>
                <binding name="retencion_binding1" />
                <binding name="timbrado_cfdi40_binding">
                    <security mode="Transport" />
                </binding>
                <binding name="timbrado_cfdi40_binding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://staging.ws.timbox.com.mx/cancelacion/action"
                binding="basicHttpBinding" bindingConfiguration="cancelacion_binding"
                contract="Cancelacion_Pruebas.cancelacion_port" name="cancelacion_port" />
            <endpoint address="https://staging.ws.timbox.com.mx/retencion/action"
                binding="basicHttpBinding" bindingConfiguration="retencion_binding"
                contract="Timbrado_Retenciones_Pruebas.retencion_port" name="retencion_port" />
            <endpoint address="https://staging.ws.timbox.com.mx/timbrado_cfdi40/action"
                binding="basicHttpBinding" bindingConfiguration="timbrado_cfdi40_binding"
                contract="Timbrado_40_Pruebas.timbrado_cfdi40_port" name="timbrado_cfdi40_port" />
        </client>
    </system.serviceModel>
</configuration>