<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="timbrado_binding">
                    <security mode="Transport" />
                </binding>
                <binding name="timbrado_binding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://staging.ws.timbox.com.mx/timbrado/action"
                binding="basicHttpBinding" bindingConfiguration="timbrado_binding"
                contract="TimboxWS.timbrado_port" name="timbrado_port" />
        </client>
    </system.serviceModel>
</configuration>